@model PusherMvc.Web.Models.ProductListItemViewModel[]

@{
    ViewBag.Title = "Index";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
               test
            </p>
        </div>
    </section>
}

<h3>Products: @DateTime.Now</h3>
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Stock Level</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@Html.DisplayFor(p => product.Id)</td>
                <td>@Html.DisplayFor(p => product.Header)</td>
                <td>@Html.DisplayFor(p => product.StockLevel)</td>
            </tr>
        }
    </tbody>
</table>